/* Board Members Page Styles */
#board {
    background-image: url("../images/codeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-attachment: fixed;
}
.break-pt {
    height: 110px;
}

/* Main Background */
.main-bg {
    background-color: #D5C5DB;
}

/* Board Members */
.name {
    font-family: Optima;
    font-weight: bold;
    font-size: 35px;
    color: #4A4C70;
    margin: 10% 0px 5px 0px;
}
.position {
    font-family: Optima;
    font-weight: bold;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
    color: #4A4C70;
}
.bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 5px;
    margin: 10px 10% 10px 0px;
}
.profile-pic {
    width: 80%;
}