/* Home Page Styles */
#home-page {
    /* background-image: url("../images/homePageImage.png"); */
    /* background-image: url("../images/codeBackground.png"); */
    background-image: linear-gradient(to bottom right, purple, #734B88, #D5C5DB);

    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    /* background-color: #D5C5DB; */
}
.homepage-boxes {
    height: 30px;
}
.box {
    background-color: #7D5692;
    border-radius: 30px;
    padding: 30px 40px 30px 40px;
    border: solid 3px white;
}
.box-title {
    font-family: Optima;
    font-weight: bold;
    font-size: 40px;
}
.box-paragraph {
    font-family: Optima;
    font-size: 17px;
}
#link-btn {
    margin: 10px auto;
    color: white;
    background-color: #DC5F53;
    border-style: solid;
    border-color: #DC5F53;
}
#link-btn:hover {
    border: solid 2px white;
}

/* Title */
#title {
    margin: 100px 0px 15px 0px;
    /* font-family: cursive; */
    font-family: 'Times New Roman';
    font-weight: bold;
    /* font-size: 150px; */
    font-size: 100px;
    text-align: center;
}

/* Mottos */
#flower-motto {
    margin: 0px 0px 20px 0px;
    font-family: cursive;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
#flower-divider {
    margin-bottom: 20px;
    width: 100%;
}
.motto1-bg {
    background-color: #734B88
}
.motto2-bg {
    background-color: #967EA3
}
.motto {
    font-family: Optima;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
#motto-line1 {
    font-size: 60px;
    font-style: italic;
}
#motto-line2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15%;
}
#motto-line3 {
    font-size: 40px;
}
#motto-line4 {
    font-size: 50px;
}
#down-arrow {
    width: 30%;
    margin-left: 45%;
    margin-right: 45%;
}

/* Upcoming Programs */
.upcoming-bg {
    background-color: #D5C5DB;
}
.upcoming1-bg {
    background-color: #7D5692;
    padding-bottom: 100px;
}

#upcoming-programs {
    font-family: Optima;
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}
.upcoming2-bg {
    background-color: #967EA3;
    padding-bottom: 100px;
}
#about-programs {
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
}
#see-programs {
    margin-right: 10%;
    margin-left: 10%;
}
.program1-bg {
    background-color: #664F70;
}
.program2-bg {
    background-color: #A492AE;
}
.prog-date {
    font-family: Optima;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}
.prog-title {
    margin: 40px 0px 0px 20px;
    font-family: Optima;
    font-weight: bold;
    font-size: 30px;
}
.program-arrow {
    width: 30px;
    margin-left: 90%;
    margin-bottom: 35px;
}

.upcoming-box {
    background-color: #967EA3;
    border-radius: 10px;
    border: solid 1px white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.upcoming-box:hover {
    background-color: white;
    color: #967EA3;
}
.program-title {
    font-family: Optima;
    font-size: 25px;
}
.program-date {
    font-family: Optima;
    font-size: 20px;
}