/* Our Mission Page Styles */
#our-mission {
    background-image: linear-gradient(to bottom right, purple, #734B88, #D5C5DB);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-attachment: fixed;
}

.motto {
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
    color: white;
}
.motto-subheading {
    font-family: cursive;
    font-size: 17px;
    margin: 0px 0px 0px 45%;
    margin-bottom: 0px;
    color: white;
}
#logo {
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;

}

.box {
    background-color: #7D5692;
    border-radius: 30px;
    padding: 30px 40px 30px 40px;
    border: solid 3px white;
    color: white;
    margin-bottom: 25px;
}
.left {
    margin-right: 20px;
}
.box-title {
    font-family: Optima;
    font-weight: bold;
    font-size: 40px;
}
.box-paragraph {
    font-family: Optima;
    font-size: 17px;
}