/* Past Programs Page Styles */
#past-programs {
    background-image: url("../images/codeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-attachment: fixed;
}

/* Title */
#title {
    margin: 150px 0px 100px 0px;
    font-family: Impact;
    font-size: 50px;
    text-align: center;
    color: white;
}

/* Main Background */
.main-bg {
    background-color: #D5C5DB;
}

/* Program Description Backgrounds */
.program-bg {
    background-color: #A492AE;
}
.ceremony-bg {
    background-color: #734B88;
}

/* Programs */
.program-title {
    font-family: Impact;
    font-size: 25px;
    color: #4A4C70;
    margin: 10% 10% 5px 10%;
}
.program-subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px 10% 0px 10%;
    margin-bottom: 0px;
    color: #4A4C70;
}
.program-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 5px;
    margin: 5px 10% 10% 10%;
}
.ceremony-link {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    height: 50px;
    width: 70%;
    background-color: #734B88;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DC5F53;
    color: #DC5F53;
}
.ceremony-link:hover {
    background-color: #DC5F53;
    color: white;
}
.group-pic {
    width: 100%;
    margin-top: 13%;
}